doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Font Awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // Bootstrap core CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css', rel='stylesheet')
    // Material Design Bootstrap
    link(href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/css/mdb.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style3.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
    // bag-gallery css
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet')
    title Main
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        button.btn.btn-dark.d-inline-block.d-lg-none.ml-auto(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          i.fas.fa-align-justify
        #navbarSupportedContent.collapse.navbar-collapse
          h6.text-white DateU
          ul.nav.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='#') Home
            li.nav-item
              a.nav-link(href='#') My account
            li.nav-item
              a.nav-link(href='#') Matches
            li.nav-item
              a.nav-link(href='/users/logout') Sign out
    // banner-profile
    .wrapper-header.mask.rgba-gradient
      header.container.headerb
        .row
          .col-md-3
            .mainb
              img.rounded-circle.img-fluid(src='images/w7.jpg', alt='Profile pic')
          .col-md-7.prof-info
            .pname.text-white
              h6 #{user.profile.firstName} #{user.profile.lastName}
              h6 32 anios
              h6 Ing. pupusas
          .col-md-2.buttons.float-right.mt-3
            button.btn.btn-primary
              i.fa.fa-bolt.mr-1
              | SL
            button.btn.btn-primary
              i.fas.fa-heart.mr-1
              | CF
            button.btn.btn-primary
              i.fab.fa-rocketchat.mr-1
              | CH
    .container
      ul.filter.controls
        li(onclick='slider2()') Bio
        li(onclick='slider1()') Pictures
      hr.hr-dark
    #bio.container
      .row.my-5
        .col-md-6
          .card
            .card-body
              .row
                .col-12.col-lg-8.col-md-6
                  h3.display-4.mb-0.text-truncated Biografia
                  p.lead lorem
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                .col-12.col-lg-4.col-md-6.text-center
                  img.mx-auto.rounded-circle.img-fluid(src='images/w7.jpg', alt='')
              // /row
              // /card-block
        .col-md-2.text-center.stats
          .card
            .card-body
              h3.mb-0 100K
              small stats
            // /card-block
        .col-md-2.text-center.stats
          .card
            .card-body
              h3.mb-0 100K
              small stats
            // /card-block
        .col-md-2.text-center.stats
          .card
            .card-body
              h3.mb-0 100k
              small stats
            // /card-block
            // end rowmain div de abajo
      .row.my-5
        .col-md-6
          .card
            .card-body
              .row.text-center
                .col-md-4.secrowicons
                  i.fas.fa-bolt
                .col-md-4.secrowicons
                  i.fas.fa-heart
                .col-md-4.secrowicons
                  i.fas.fa-comment
        .col-md-6
          .card
            .card-body
              h3.display-4.mb-0.text-truncated Intereses
              p
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus illum asperiores
                | eligendi.
      // end secondrow div arriba
    #gallery.container.gallery.mt-5(style='display: none;')
      .row
        .col-sm-12.col-md-4.gal-item
          .box
              .avatar-upload
                .avatar-edit
                  input#imageUpload1(type='file', accept='.png, .jpg, .jpeg')
                  label(for='imageUpload1')
                .avatar-preview
                  a.lightbox(href='http://i.pravatar.cc/500?img=7')
                    img#imagePreview1(src='http://i.pravatar.cc/500?img=7')
        .col-sm-6.col-md-4.gal-item
          .box
              .avatar-upload
                .avatar-edit
                  input#imageUpload2(type='file', accept='.png, .jpg, .jpeg')
                  label(for='imageUpload2')
                .avatar-preview
                  a.lightbox(href='http://i.pravatar.cc/500?img=7')
                    img#imagePreview2(src='http://i.pravatar.cc/500?img=7')
        .col-sm-6.col-md-4.gal-item
          .box
            
              .avatar-upload
                .avatar-edit
                  input#imageUpload3(type='file', accept='.png, .jpg, .jpeg')
                  label(for='imageUpload3')
                .avatar-preview
                  #imagePreview3(style='background-image: url(http://i.pravatar.cc/500?img=7);')
        .col-sm-6.col-md-4.gal-item
          .box
            
              .avatar-upload
                .avatar-edit
                  input#imageUpload4(type='file', accept='.png, .jpg, .jpeg')
                  label(for='imageUpload4')
                .avatar-preview
                  #imagePreview4(style='background-image: url(http://i.pravatar.cc/500?img=7);')
        .col-sm-6.col-md-4.gal-item
          .box
            
              .avatar-upload
                .avatar-edit
                  input#imageUpload5(type='file', accept='.png, .jpg, .jpeg')
                  label(for='imageUpload5')
                .avatar-preview
                  #imagePreview5(style='background-image: url(http://i.pravatar.cc/500?img=7);')
    // Scripts
    // JQuery
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // Bootstrap tooltips
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/js/mdb.min.js')
    // Baguette gallery
    script(src='https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js')
    script(src='/javascripts/script.js')
    script.
      baguetteBox.run('.gallery');
