doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
    script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
    script(src="https://unpkg.com/scrollreveal@4")
    link(rel='stylesheet', href='/stylesheets/style2.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.1/css/all.css', integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz', crossorigin='anonymous')
    title Portal
  body
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href='#') DateU
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='#')
                | Home
                span.sr-only (current)
            li.nav-item
              a.nav-link.active(href='#') About
            li.nav-item
              a.btn.btn-primary(href='/users/login') Login/Register
    header
      #myCarousel.profile-container
        ul.carousel-indicators
          li.item1.active
          li.item2
          li.item3
        .carousel-inner
          .carousel-item.active.item.b1
            .header-content.text-center
              h1.h1-responsive.float-md-right.he1
                | Lorem ipsum dolor sit amet,
                br
                | consectetur adipisicing elit.
          .carousel-item.item.b2
            .header-content.text-center
              h1.h1-responsive.text-center.he2
                | Lorem ipsum dolor sit amet,
                br
                | consectetur adipisicing elit.
              a.btn.btn-primary(href='/users/login') Registrar
          .carousel-item.item.b3
            .header-content.text-center
              h1.h1-responsive.float-md-left.he3
                | Lorem ipsum dolor sit amet,
                br
                | consectetur adipisicing elit.
        a.carousel-control-prev(href='#myCarousel')
          span.carousel-control-prev-icon
        a.carousel-control-next(href='#myCarousel')
          span.carousel-control-next-icon
    // Page Content
    section.py-2
      .container
        h1.text-center.heading1.mt-5 Lorem
        p.p1
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt non corrupti ut molestias velit vitae iusto
          | commodi voluptatibus sapiente totam nesciunt esse autem, dolorem quaerat adipisci optio soluta repellendus ea!
          | Inventore, laudantium? Sequi quam dignissimos eligendi iusto voluptatem officia, quas labore nam soluta itaque
          | esse fuga tempore minima aspernatur amet odit sint sit exercitationem dolor alias incidunt voluptatibus?
          | Pariatur, neque?
          | Quibusdam rem ad, maiores facere vel, suscipit porro magni consectetur itaque ullam, soluta temporibus
          | inventore. Corporis laborum itaque harum dolor perferendis pariatur, veniam nulla ab quia, consequuntur natus
          | dolorem laudantium.
          | Fugiat eos, recusandae minima laborum perferendis ex iure dolore quos animi, est doloribus provident. Modi
          | commodi rem qui libero similique quibusdam veritatis adipisci tempore optio placeat voluptatum, ab assumenda
          | alias.
    section.container.py-2.text-center
      .row
        .col-md-4.c1
          i.fas.fa-user-friends
          p Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .col-md-4.c2
          i.fas.fa-heart
          p Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .col-md-4.c3
          i.fas.fa-book
          p Lorem ipsum dolor sit amet consectetur adipisicing elit.
    script(src='/javascripts/script.js')
