:root{
    font-size: 1.1em;
}

form{
    /*padding: 4em;
    border-radius: 2%;
    background: url(foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    object-fit: cover;
    width: 100%vw;*/
    /*border: 1px solid  -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
   */ 
   border-radius: 2%;
   background: -webkit-linear-gradient(15deg, rgba(149, 182, 224, 0.3), rgba(207, 95, 95, 0.49) 70%);
}
.container{
    margin: 2em 4em 4em 4em;
    
}
.union{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 1em;
    
}
.parte1{
    display: grid;
    grid-template-columns: 10% 29% 10%;
    padding: 1.2em;
    padding-left: 1.7em;
}
h4{
    padding: 0;
    margin:0;
}
/*i{
  color: rgba(213, 15, 61, 0.6);
}*/
.cuadros{
    
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    border: 1px solid rgba(173, 173, 137, 0.753);
    background: rgba(233, 176, 216, 0.353);
}

.cuadros:hover{
    background: rgba(214, 82, 122, 0.5);
    border:none;
}

.boton{
    
    background-color: #4285f4;
    border:0;
    color: white;
    margin-left: 5em;
    margin-bottom: 5em;
    margin-top: 0em;
    padding: 0.4em;
    border-radius: 2%;
    font-weight: 600;
    
}
.boton i{
    padding-right: 0.4em;
}


