html {
  height: 100vh;
}

body {
  margin: 0px;
  height: 100vh;
}

div#change_username {
  display: inline-block;
}

section#chatroom {
  height: 90%;
  overflow: auto;
}

section#input_zone {
  height: 7%;
  text-align: center;
  margin-top: 0.4em;
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
  
  
}

input#message {
  display: inline-block;
  width: 88%;
  height: 70%;
}

button#send_message {
  display: inline-block;
  height: 70%;
  width: 10%;
}

p.message {
  margin: 0px;
  width: 100%;
  height: 40px;
  padding: 1vh;
}

.message:nth-child(even) {
  background-color: whitesmoke;
}

.message:nth-child(odd) {
  background-color: #d4d4d4;
}

#chatroom{
background:#e0e0de;
}

#feedback{
padding-top: 3em;
}
@media screen and (max-width: 992px) {
    #feedback {
      margin-bottom:29px;
    }
  
}
/*
@media screen and (max-width: 992px) {
  .navbar {
    text-align: center;
    height: 90vh;
  }
  .prof-info{
      padding: 1em;
  }
  
}*/
/*
@media screen and (max-width: 992px){
  .navbar {
    width: 100%;
    height: 3.2em;
}
  .btn{
    height: 3em;
  }
}*/
@media screen and (max-width: 992px){
  #input_zone
  {
    display: grid;
    grid-template-columns: 70% 40%;
    margin-top: 0.6em;
    margin-bottom: 0.7em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    
}
 
  input#message{
    
    
    width: 80%;
    height: 65%;
    
  }
  button#send_message{
    width: 70%;
    height: 70%;
    margin-left: 4%;
    
  }
  #input_zone .vertical-align{
    margin-top: 0.6em;
    margin-bottom: 0.7em;
    margin-left: 0.7em;
    margin-right: 0.7em;
  }

  
}

@media screen and (max-width: 992px){
  #input_zone
  {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 0.6em;
    margin-bottom: 0.7em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    
}
 
  input#message{
    
    
    width: 80%;
    height: 65%;
    
  }
  button#send_message{
    width: 80%;
    height: 70%;
    margin-left: 4%;
    
  }
  #input_zone .vertical-align{
    margin-top: 0.6em;
    margin-bottom: 0.7em;
    margin-left: 0.7em;
    margin-right: 0.7em;
  }

  
}

.lyric
{
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 2em;
}