.rgba-gradient {
    background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
    background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
    background: linear-gradient(to 45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
}

.headerb{
    padding-top: 5em;
    padding-bottom: 1em;
}

.prof-info{
    padding-top: 5em;
}

@media screen and (max-width: 550px) {
    .headerb {
      text-align: center;
      height: 90vh;
    }
    .prof-info{
        padding: 1em;
    }
}


.gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

/*
@media(max-width: 768px) {
    body {
        padding: 0;
    }
    .container.gallery-container {
        border-radius: 0;
    }
}*/

.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.gal-container{
	padding: 12px;
}

.gal-item{
	overflow: hidden;
	padding: 3px;
}
.gal-item .box{
	height: 350px;
	overflow: hidden;
}

.filter{
    list-style: none;
    padding-top: 2em;
}
  
.filter li{
    display: inline-block;
    margin-right: 30px;
    padding-bottom: 10px;
    color: #979797;
    cursor: pointer;
}