/* Propeller button */
@import "http://propeller.in/components/button/css/button.css";

.rgba-gradient {
    background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
    background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
    background: linear-gradient(to 45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
}

.headerb{
    padding-top: 5em;
    padding-bottom: 1em;
}

.prof-info{
    padding-top: 5em;
}

@media screen and (max-width: 550px) {
    .headerb {
      text-align: center;
      height: 90vh;
    }
    .prof-info{
        padding: 1em;
    }
    
}

@media screen and (max-width: 1250px) {
    
    .nombres{
        display:none;
    }
}


.gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.profresp{
    text-align: -webkit-center;
}

.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.gal-container{
	padding: 12px;
}

.gal-item{
	overflow: hidden;
	padding: 3px;
}
.gal-item .box{
	height: 350px;
    overflow: hidden;
    margin-bottom: 1em;
}

.filter{
    list-style: none;
    padding-top: 2em;
}
  
.filter li{
    display: inline-block;
    margin-right: 30px;
    padding-bottom: 10px;
    color: #979797;
    cursor: pointer;
}

.stats{
    margin-top: 3em;
}

.secrowicons{
    margin-top: 1em;
    font-size: 3em;
    color: #4285f4!important;
}



.avatar-upload {
    position: relative;
    max-width: 205px;
}

.avatar-upload .avatar-edit {
    position: absolute;
    left: 7px;
    z-index: 1;
    top: 10px;
}
.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 350px;
    height: 350px;
    position: relative;    
    border: 6px solid #F8F8F8;
}

div#profpic {
    width: 240px;
    height: 240px;
    position: relative;
    border: none;

}

.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pmd-btn-fab {
    bottom: 0;
    position: fixed;
    margin: 1em;
    right: 0; 
}

#exampleModal .nombres{
    width: 7.6vw;
}

.scrolling{
    overflow-y: scroll;
    height: 60vh;
}

.text-sug{
    font-size: 2em;
}